<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <title>Alpha Blog</title>
  </head>
  <body>
    <header id="main-header">
      <div class="container">
        <h1>Alpha-Blog About Page</h1>
      </div>
    </header>
    <nav>
    <%= link_to 'Home', root_path %>
    </nav>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis consequat sem, consectetur tincidunt tortor. Nulla vel blandit erat, dictum placerat enim. Vestibulum porttitor enim quis quam mollis, quis bibendum arcu fermentum. Aliquam placerat arcu et lacinia pharetra. Fusce pretium lorem vel elit porta faucibus. Nunc luctus risus id metus rutrum, ac tristique diam placerat. Praesent consequat in dui molestie elementum. Fusce quis urna felis. Ut maximus iaculis libero ac tempor. Sed congue vitae nisi non auctor. Ut dignissim porta lectus, volutpat consequat neque. Praesent in mi non nunc venenatis facilisis. Nunc lacus sapien, egestas non gravida non, egestas nec dui. Suspendisse sit amet orci ac mauris consequat fringilla ut sit amet nisi.

Nulla a felis diam. Sed blandit aliquam turpis, malesuada imperdiet orci elementum in. Aliquam facilisis mattis lacus, et egestas ante convallis ac. Aliquam hendrerit augue ut nisi mollis luctus. Phasellus ac turpis lobortis, feugiat odio et, feugiat enim. Quisque mattis mauris mattis tempor porta. Nullam posuere est vitae risus porttitor, non aliquet lectus tristique.</p>
    <footer id="main-footer">
      <p>Copyright &copy; 2020 Justin Gilbert</p>
    </footer>
  </body>
</html>